title {
    color: #ff0000;
}

p {
    list-style: lower-roman;
    color: #d9b80d;
}

.html-list{
    list-style-type: square;
}

body{
    background-color: #ffcc8b;
    font-size: 30px;
}
h2{
    color: #c94562;
    text-size-adjust: 100px;
}



